<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>HireFlow</h5>
                <p>Find opportunities. Hire talent. Grow together.</p>
                <p class="small">© 2026 HireFlow. All rights reserved.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'dashboard:home' %}" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="{% url 'job_listings:job_list' %}" class="text-white text-decoration-none">Jobs</a></li>
                    <li><a href="{% url 'company_profiles:company_list' %}" class="text-white text-decoration-none">Companies</a></li>
                    <li><a href="{% url 'user_accounts:login' %}" class="text-white text-decoration-none">Login</a></li>
                    <li><a href="{% url 'user_accounts:register' %}" class="text-white text-decoration-none">Register</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">About</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Terms</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Privacy</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Follow Us</h5>
                <div class="d-flex">
                    <a href="#" class="text-white me-3"><i class="bi-linkedin fs-4"></i></a>
                    <a href="#" class="text-white me-3"><i class="bi-twitter fs-4"></i></a>
                    <a href="#" class="text-white"><i class="bi-instagram fs-4"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>